<table mat-table [dataSource]="dataSourceLibros" class="mat-elevation-z8">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->
  
    <!-- Position Column -->
    <ng-container matColumnDef="titulo">
      <th mat-header-cell *matHeaderCellDef> Titulo </th>
      <td mat-cell *matCellDef="let element"> {{element.titulo}} </td>
    </ng-container>
  
    <!-- Name Column -->
    <ng-container matColumnDef="precio">
      <th mat-header-cell *matHeaderCellDef> precio </th>
      <td mat-cell *matCellDef="let element"> {{element.precio}} </td>
    </ng-container>
  
    <!-- Weight Column -->
    <ng-container matColumnDef="genero">
      <th mat-header-cell *matHeaderCellDef> genero </th>
      <td mat-cell *matCellDef="let element"> {{element.genero}} </td>
    </ng-container>
  
    <ng-container matColumnDef="año">
      <th mat-header-cell *matHeaderCellDef> Año </th>
      <td mat-cell *matCellDef="let element"> {{element.anio}} </td>
    </ng-container>
  
   
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
