<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>LibreriaApp</title>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">

  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</head>

<body>





<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Navbar</a>
    <button
      class="navbar-toggler"
      type="button"

      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <i class="fas fa-bars"></i>
    </button>
    <div
      class="collapse navbar-collapse"
      id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link active" aria-current="page" href="#">Home</a>
        <a class="nav-link" href="#">Libro</a>
        <a class="nav-link" href="#">Autores</a>
        <a class="nav-link" href="#">Usuarios</a>
        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>

      </div>
    </div>

    <div class="d-flex align-items-center">
      <button type="button" class="btn btn-link px-3 me-2">
        Login
      </button>
      <button type="button" class="btn btn-primary me-3">
        Sign up for free
      </button>
  </div>
  </div>
</nav>



<table mat-table [dataSource]="dataSourceLibros" class="mat-elevation-z8">

  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

  <!-- Position Column -->
  <ng-container matColumnDef="titulo">
    <th mat-header-cell *matHeaderCellDef> Titulo </th>
    <td mat-cell *matCellDef="let element"> {{element.titulo}} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="precio">
    <th mat-header-cell *matHeaderCellDef> precio </th>
    <td mat-cell *matCellDef="let element"> {{element.precio}} </td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="genero">
    <th mat-header-cell *matHeaderCellDef> genero </th>
    <td mat-cell *matCellDef="let element"> {{element.genero}} </td>
  </ng-container>

  <ng-container matColumnDef="año">
    <th mat-header-cell *matHeaderCellDef> Año </th>
    <td mat-cell *matCellDef="let element"> {{element.anio}} </td>
  </ng-container>

 

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
<app-registro-usuario></app-registro-usuario>
<router-outlet></router-outlet>
</body>
</html>
