<!-- <mat-card>
  <mat-card-content>
    <div fxLayout="column" fxLayoutAlign="center center">
    <form #loginForm="ngForm" (ngSubmit)="onSubmit()">
    
      <h2>Login</h2>
       <mat-error *ngIf="!loginValid">
        The username and password were not recognized
      </mat-error>
      <mat-form-field>
        <input matInput placeholder="Email"  [(ngModel)]="user" name="user" required>
        <mat-error>
          Please provide a valid email address
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput type="password" placeholder="Contraseña" [(ngModel)]="password" name="password" required>
        <mat-error>
          Please provide a valid password
        </mat-error>
      </mat-form-field>
      <button mat-raised-button color="primary" [disabled]="!loginForm.form.valid">Iniciar Sesion</button>
    </form>
  </div>
  </mat-card-content>
</mat-card> -->
<div class="login-box">
  <h2>Login</h2>
  <form>
    <div class="user-box">
      <input type="text" name="" required>
      <label>Username</label>
    </div>
    <div class="user-box">
      <input type="password" name="" required="">
      <label>Password</label>
    </div>
    <a [routerLink]="['/home']">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      Submit
    </a>
  </form>
</div>
<router-outlet></router-outlet>